<router-outlet />

<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened class="sidebar">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list class="mon-side">
      <a mat-button *ngIf="!(isLoggedIn$ | async)" routerLink="/login">Login</a>
      <a mat-button  routerLink="/products">Products</a>
      <a mat-button *ngIf="isAdmin" routerLink="/users">Users</a>
      <button mat-button *ngIf="isLoggedIn$ | async" (click)="logout()">Logout</button>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">WE-SHARE</mat-toolbar>
    <div class="content">
      <mat-card *ngIf="!(isLoggedIn$ | async)">
        <mat-card-title>Bienvenue sur <b>WE-SHARE</b></mat-card-title>
        <mat-card-content>
          <p>Une plateforme de vente intéressante et sécurisée.</p>
          <a mat-button *ngIf="!(isLoggedIn$ | async)" routerLink="/login">Login</a>
        </mat-card-content>
      </mat-card>
            
      <router-outlet></router-outlet>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


