/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-snack-bar-container {
    background: #323232;
    color: white;
    font-size: 16px;
    text-align: center;
  }
  
  .mat-simple-snackbar-action {
    color: #ffcc00 !important;
    font-weight: bold;
  }
  

  /* Style des notifications MatSnackBar */
.success-snackbar {
  background: #4caf50 !important;
  color: white !important;
  font-weight: bold;
}

.error-snackbar {
  background: #d32f2f !important;
  color: white !important;
  font-weight: bold;
}

.warning-snackbar {
  background: #ffa000 !important;
  color: black !important;
  font-weight: bold;
}
